* {
  border: 1px solid;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

#div1,
#div2,
#div3,
#div4,
#div5 {
  flex: 1;
  display: flex;
}

#container button {
  flex: 1;
}
#textbox {
  flex-grow: 3;
  display: flex; /* Make it a flexbox to stretch properly */
  justify-content: center; /* Center text inside */
  align-items: center; /* Center text vertically */
}

#clear {
  padding: 0;
}
